body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #eceff1;
}

main {
    flex: 1 0 auto;
    color:black;
}

#main-sec {
    height: auto;
    background-color: white;
    margin-bottom: 50px;
}

.main-btns {
    padding: 10px 0px;
}
