body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #eceff1;
}

main {
    flex: 1 0 auto;
    color:black;
}

#main-sec {
    height: 200px;
    background-color: white;
}
